{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Форма сервиса" %}{% endblock %}
{% block content %}
<div class="container p-4" style="max-width:600px;">
  <h2>{% trans "Сервис" %}</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <!-- Название -->
    <div class="mb-3">
      {{ form.name.label_tag }}
      {{ form.name }}
      {{ form.name.errors }}
    </div>

    <!-- Hostname -->
    <div class="mb-3">
      {{ form.hostname.label_tag }}
      {{ form.hostname }}
      {{ form.hostname.errors }}
    </div>

    <!-- Адрес -->
    <div class="mb-3">
      {{ form.address.label_tag }}
      {{ form.address }}
      {{ form.address.errors }}
    </div>

    <!-- Порт -->
    <div class="mb-3">
      {{ form.port.label_tag }}
      {{ form.port }}
      {{ form.port.errors }}
    </div>

    <!-- Протокол -->
    <div class="mb-3">
      {{ form.protocol.label_tag }}
      {{ form.protocol }}
      {{ form.protocol.errors }}
    </div>


    <button type="submit" class="btn btn-siem">{% trans "Сохранить" %}</button>
    <a href="{% url 'services' %}" class="btn btn-outline-secondary ms-2">{% trans "Отмена" %}</a>
  </form>
</div>

{% endblock %}
