.btn-siem {
  background-color: #0d3b66;
  border-color: #0d3b66;
  color: #fff;
}
.btn-siem:hover {
  background-color: #092a3d;
  border-color: #092a3d;
  color: #fff;
}

/* Убираем стрелочку (caret) у кнопки переключения языка */
#languageSelector .dropdown-toggle::after {
  display: none;
}

/* Центрируем выпадающее меню относительно кнопки и корректируем отступы */
#languageSelector {
  position: relative;
}

#languageSelector .dropdown-menu {
  position: absolute;
  top: 100% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-top: 0.25rem !important;
  z-index: 1000;
}

#languageSelector button {
  background-color: inherit !important;
  border: none !important;
}
